.searchBar {
    align-items: center;
    margin-bottom: 20px;
  }
  
  .searchBar input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
  }
  
  .searchBar button {
    padding: 10px 20px;
    background-color: #ffcb05; /* Color de fondo del botón */
    border: none;
    border-radius: 5px;
    color: #222; /* Color del texto del botón */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .searchBar button:hover {
    background-color: #11100e; 
    color: #e611d4; 
  }
  